# cmake files
/build

# ide
/.zed
/.vscode

# tools
/.clangd
/.cache
/.ccls
/build/
/build_*/
thirdparty/
**/target/
**/bin/
*.log
dist/*.so
dist/lsfg-vk-cli
dist/soberano-lsfg-manager
dist/VkLayer_LSFGVK_frame_generation.json
dist/install.sh
